.text-center.py-4{ :data => {"controller": "steps" }}
  %ul#steps.steps{:data => { action: "turbo:load@document->steps#updateSteps",
            "steps-target": "stepsList",
            "steps-step-param": "#{@step}"} }
    %li.text-white.font-bold.step Create Event
    %li.text-white.font-bold.step Share Schedule
    %li#last.text-white.font-bold.step Confirm
