.text-center.py-2{ :data => {"controller": "steps" }}
  %ul#steps.steps{:data => { action: "turbo:load@document->steps#updateSteps",
            "steps-target": "stepsList",
            "steps-step-param": "#{@step}"} }
    %li.text-white.font-bold.font-rubik.text-md.step Plan Event
    %li.text-white.font-bold.font-rubik.text-md.step Tap Days
    %li#last.text-white.font-bold.font-rubik.text-md.step Send Email
